@charset "utf-8";
h1{
	z-index: 1;
	position:fixed;
	top: 40%;
	text-align: center;
}
.responsive {
	width: 100%;
    height: auto;
}

.logo_favicon {
	position: fixed;
	top:20px;
	margin: 20px 10px;
	cursor: pointer;
	z-index: 2;
}
