
.contenu1 {
	position: relative;
	width: 1400px;
	background-color: none;
	margin: 90px auto;
	text-align: center;
	z-index: -1;
}
.contenu2 {
margin: 10px auto;
max-width: 1300px;
}
.contenu1 img {
	margin: 20px;
}
img{
	margin: 0px;
}
ul li {
list-style-type: none;
padding: 0 5px;
display: inline;}
ul > li a{
	text-decoration: none;
	color: black;	
}

ul > li:hover {
	text-decoration: underline;
}