
.contenu1 {
	position: relative;
	width: 1200px;
	background-color: none;
	margin: 90px auto;
	z-index: -1;
}
.contenu2 {
	position: relative;
	width: 1200px;
	margin: 90px auto;
	z-index: -1;
}
h2{
	text-align: center;
	font-size: 50px;
}
img{
	margin: 0px;
}
ul > li {
	 float: left;
	 list-style-type: none;
	 margin-left: 33px;
}