@charset "utf-8";
body {
    font-family: "Lato", sans-serif;
}

/*élément div menu qui défile*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
	opacity: 0.9;
}
.sidenav  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 60px;
    color: #818181;
    display: block;
	font-family: Didot ;
}

.sidenav a:hover{
    color: #f1f1f1;
	text-decoration: none;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

}
.navigation{
margin: 2% 1%;
float: right;
z-index: 1;
position: fixed;
right: 0px; /*pour le fixé à droite*/
color:white;	
}
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-width: 450px) {
.sidenav {padding-top: 15px;}
.sidenav .closebtn {
       font-size: 40px;
        top: 15px;
        right: 35px;
    }
.sidenav a {
    font-size: 30px;
}
                                      } 
#mySidenav img {
	margin: 0px;
}

.recherche {
	background: url(search_50.png) top right no-repeat;
	height: 50px;
}
