@charset "utf-8";
footer .reseaux {
	margin-left: 20px;
	vertical-align: middle;
	opacity: 0.3;
	transition: .3s ease-in-out;
}
footer .reseaux:hover {
	opacity: 0.9;
}
footer p {
	display: inline-block;
	position: relative;
	top:-30px;
}
p a {
	text-decoration: none;
	font-family:Georgia, "serif", Constantia, "Lucida Bright", "DejaVu Serif", ;
	padding: 0 20px 0 20px;
	font-size: 11px;
	color: black;
	letter-spacing: 3px;
}
p a:hover {

}
p a:active{
	color: #747474;
}
.languages {
color: white;
font-size: 20px;
font-family: Didot;
font-style: italic;
padding: 7px;
position: relative;
cursor: pointer;
}
.languages:hover{
	border-bottom: 1px solid white;
}
.premierLigneFooter{
	width: 100%;
	text-align: center;
	background-color: white;
	margin: 15px auto;
}
.reseauxSociaux{
vertical-align: top;
display: inline-block;
margin-top: 38px;
}
.copyright_gauch {
	position: relative;
	color: black;
	font-family:"JosefinSans Thin";
	font-size:11px;
	display: inline-block;
}
.copyright_droi{float: right;font-family:"JosefinSans Thin";
	font-size:11px;}
.premierDeuFooter {
	width: 1200px;
	margin: 0 auto;
	padding: 10px 35px;
	text-align: justify;
}
.premierLigneFooter img:first-of-type{ margin-right: 30px;}
footer span { color:#666;}