@charset "utf-8";
footer .reseaux {
	margin-left: 50px;
	vertical-align: middle;
	opacity: 0.15;
	transition: .3s ease-in-out;
}
footer .reseaux:hover {
	margin-left: 50px;
	vertical-align: middle;
	opacity: 0.5;
}
p a {
	text-decoration: none;
	color: black;
	font-family: Didot;
	margin-left: 20px;
}
p a:hover {
	color: #080B7F;
	text-decoration-line: underline;
	text-decoration-style: solid;
}
p a:active{
	color: #080B7F;
}