@charset "utf-8";
/*input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    background-color: white;
    position: fixed;
	right: 0;
	top: 30px;
	margin: 120px 70px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 20%;
}*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;/* cache la croix*/
    transition: 0.5s;
}

.overlay-search {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.search-content .maRecherche {
width: 90%;
display: block;
margin: 10vw auto 0 auto;
padding: 1vw;
font-family: Didot;
font-style: italic;
font-size: 2.2vw;
color: white;
border: none;
background-color: rgba(8, 7, 7, 0.09);
	}
	hr{ width: 90%;}
input::placeholder {
	opacity: 0.2;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 77px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    left: 35px;
  }
}