@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}@charset "utf-8";
#myVideo {
    width: 100%;
    min-height: 100%;
	/*background-size: contain;*/
}